strong {
	font-weight: $bold;
}

h1 {
	padding: 0;
	float: left;
	width: 240px;
	height: 129px;
	background: url('../images/bg_logo.png') repeat-x 0 0;
	@include animacao;

	a {
		img {
			width: 85%;
			margin: 30px auto;
			display: block;
			@include animacao;
		}

		&:hover {
			img {
				opacity: .8;
			}
		}
	}

	@media all and (max-width: 1100px) {
		max-width: 180px;
		padding: 25px 0 15px;
	}
}

h2 {
	font-size: 1.125rem;
	font-weight: $bold;
	display: block;
	color: $cinza-escuro;
	padding-bottom: 10px;
	border-bottom: 2px solid $cinza;
	position: relative;
	text-transform: uppercase;

	&.tit-area {
		margin-bottom: 30px;
	}

	&.sub-titulo {
		margin: 50px 0 30px;
	}

	a {
		color: $cinza-escuro;

		&:hover {
			color: $amarelo;

			i {
				color: $amarelo;
			}
		}
	}

	span {
		color: $amarelo;
		font-size: .75rem;
		position: relative;
		top: -2px;

		i {
			color: darken($cinza, 10%);
			position: relative;
			font-size: 1rem !important;
			padding: 0 10px 0 8px;
			top: 1px;
		}

		div {
			display: inline-block;
			color: $cinza-escuro;
		}
	}

	.logOff {
		float: right;	

		color: $cinza-escuro;
		font-size: .75rem;
		position: relative;
		top: -2px;

		i {
			color: $cinza-escuro;
			position: relative;
			font-size: 1rem !important;
			padding: 0 10px 0 8px;
			top: 1px;
		}
	}

	&:after {
		content: '';
		height: 2px;
		background-color: $cinza-escuro;
		width: 80px;
		position: absolute;
		bottom: -2px;
		left: 0;
	}

	&.no-border-active {
		&:after {
			display: none;
		}
	}
}

h3 {
	font-size: 1.75rem;
	font-weight: $bold;
	display: block;
	color: $cinza-escuro;
	margin: 50px 0 30px;
}

h4 {
	font-size: 1rem;
	line-height: 1.225rem;
	font-weight: $bold;
	color: $cinza-escuro;
}

h5 {
	font-size: 1.225rem;
	display: block;
	color: #000000;

	a {
		color: #000000;
		@include animacao;

		&:hover {
			text-decoration: none;
			color: $cinza-escuro;
		}
	}
}

p {
	font-size: $font-size;
	line-height: $font-size+.4;
	font-weight: $regular;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0px;
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	&.justify {
		text-align: justify-center;
	}

	&.center {
		text-align: center;
	}

	&.justify.center { 
		text-align: justify;  
		-moz-text-align-last: center;
		text-align-last: center;
	}

	@media all and (max-width: 770px){

	}
}

a {
	@include animacao;

	i {
		@include animacao;
	}

	&.leia-mais {
		float: left;
		color: $amarelo;
		line-height: 30px;
		text-decoration: none;
		@include animacao;

		i {
			display: inline-block;
			margin-right: 3px;
			color: $amarelo;
		}

		&:hover {
			text-decoration: none!important;
			color: darken($amarelo, 20%);

			i {
				color: darken($amarelo, 20%);
			}
		}
	}

	&.mais-item {
		float: right;
		color: $azul;
		font-size: $font-size;
		margin: 0px;

		i {
			color: $azul;
			font-size: $font-size;
			padding-right: 5px;

			&.fa-long-arrow-right, &.fa-long-arrow-left {
				display: block;
				font-size: 2rem;
			}
		}

		&:hover {
			color: $amarelo;

			i {
				color: $amarelo;
			}
		}
	}
	
	&:hover {
		text-decoration: none!important;
	}
}

.center {
	text-align: center;
}

.no-margim {
	margin: 0!important;
}

.azul {
	color: $azul!important;
}

.azul-petroleo {
	color: $azul-petroleo!important;
}

.table {
	
}

.table-responsive {
	
}

table {
	width: 100%;

	&#confirmar-pedido, &#confirmar-orcamento {
		margin: 50px 0 0;

		tr {
			td, th {
				padding: 10px;

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}
			}

			td {
				font-size: .875rem;
			}

			th {
				font-weight: $bold;
				font-size: 1rem;
			}
		}

		thead {
			tr {
				th {
					border-bottom: 2px solid $cinza-escuro;
				}
			}
		}

		tbody {
			tr {
				td {
					border-top: 1px solid #ddd;
				}

				&:first-child {
					td {
						border: none;
					}
				}
			}
		}

		tfoot {
			tr {
				th {
					border-top: 2px solid $cinza-escuro;
				}
			}
		}
	}

	&#confirmar-orcamento {
		tr {
			td.qtd {
				input {
					height: 30px;
					line-height: 30px;
					padding: 0 5px;
					margin: 0;
					font-size: .875rem;
					text-align: center;
				}
			}

			td {
				.remove-item {
					i {
						font-size: 1.25rem;
						top: 3px;
						position: relative;
						color: $vermelho;
					}

					&:hover {
						i {
							color: darken($vermelho,10%);
						}
					}
				}
			}
		}
	}

	&#table-produtos {
		tr {
			td {
				&.qtd {
					input {
						width: 55px;
					}
				}
			}
		}

		&.grid {
			tr {
				width: 23%;
				display: block;
				float: left;
				border: 1px solid #eaeaea;
				margin: 0 1% 30px;
				@include box-sizing;
				@include animacao;

				&:hover {
					border-color: #000;
				}

				td {
					width: 100%;
					display: block;
					border: none;
					line-height: normal !important;
					text-align: center;

					.img-prod-grid {
						height: 135px;
						overflow: hidden;

						img {
							height: 135px;
							max-width: 100%;
						}
					}

					h4:not(.qtd) {
						text-align: center;
						height: 40px;
						overflow: hidden;
					}

					.input-checkbox, label {
						height: auto;
						line-height: normal;

						label {
							padding-top: 10px;
						}
					}
				}
			}
		}
	}
}

.paginacao {
	display: block;
	margin: 50px 0;
	text-align: center;

	li {
		display: inline-block;

		a, span {
			display: block;
			line-height: 30px;
			padding: 0 12px;
			font-size: 1rem;
		}

		.current {
			background-color: $laranja;
			color: #ffffff;
			font-weight: $bold;
		}

		a {
			@include animacao;
			&.prev, &.next {
				top: 4px;
				position: relative;
			}

			&:hover {
				color: $laranja;

				i {
					color: $laranja;
				}
			}
		}
	}
}