$width: 1000px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .875rem;
$cor-txt: #666c72;

$azul: #35b1ca;
$azul-escuro: #1f425d;

$cinza: #F1F1F1;
$cinza-claro: #f5f5f5;
$cinza-escuro: #3f3f40;

$amarelo: '';
$vermelho: #e21f2f;
$laranja: #ED7304;


$borda: $cinza-escuro;


$light: 300;
$light-italic: 300i;
$regular: 400;
$regular-italic: 300i;
$bold: 500;
$bold-extra: 700;

$wLogo: 240px;

$hSlide: 60vh;